/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 20-06-2022, 19:54:24
    Author     : asus
*/

body{
    margin-left: 100px;
}
.first{
    overflow-x: hidden;
}
.text{
    position: absolute;
    color: #368664;
    font-size: 38px;
}
.a1{
    margin-left: 70px;
    width: 300px;
    height: 150px;
}
.text1{
    font-size: 20px;
    margin-left: 30px;
    color: #368664;
}
.app{
    width: 150px;
    height: 41px;
}
.ch{
    width: 150px;
    height: 41px;
}
.sc{
    font-size: 20px;

}
.thr{
    font-size: 15px;
}
.blu{
    background-color: #6b90da;
}
.mid{
    margin-left: 200px;
}